.typesAll{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.types {
    display: flex;
    justify-content: space-between;
}

.types:nth-child(2n+1) {
        flex-direction: row-reverse
    }

.typesText{
    width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.typesText p{
    font-size: clamp(1rem, 1vw, 2rem);
}

.typesText p strong{
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.typesText p, .typesText h3{margin: 0}

.typesFoto {
    width: 22%;
    display: flex;
    flex-wrap: wrap;
}

.typesFoto img{width: 50%}

@media (max-width: 650px) {
    .types{flex-direction: column;}
    .types:nth-child(2n+1) {
        flex-direction: column;
    }
    .typesText{width: 100%;}
    .typesFoto {
        width: 100%;
        flex-wrap: nowrap;
    }
    .typesFoto img{width: 25%}
}
